<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/barbell-black-Vitor-Freitas.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Track your progresss</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Want to keep track off your gym progress? click here or head to the Track Progress page</p>
      </ion-card-content>
    </ion-card>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/energy-gym-indoors-Leon-Martinez.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>View Progress</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>View previous workout data</p>
      </ion-card-content>
    </ion-card>
</ion-content>
